/*NAVBAR OR HEADER MEDIA QUERIES*/
@media only screen and (max-width:1320px){
    header{
    padding: 0 50px;
    }

}

@media only screen and (max-width:1100px){
  
    
}
@media(max-width:1055px){
   
    
    .humburger,.line{
        width: 30px;
        height: 3px;
        background-color: #fefefe;
        margin: 6px 0;
        right: 5%;
    }
    #humburger-icon{
        display: block;
        z-index: 2000; 
    }
    .nav-bar{
        position: absolute;
        top: 80px;
    }
    
}