@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all .22s linear;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.donate-header{
    background-color: white;
    box-shadow: rgba(0,0,0.09);
     box-shadow: 10px 10px 25px rgba(0,0,0,0.2);
    
    z-index: 1000;
    color: #192a56;
    position: fixed;
    width:100%;
}
.btn{
    background-color:rgb(252, 48, 48);
    color: #fefefe;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 0 5px;
    border: none;
    margin-top: 16px;
}
.btn a{
    color: #fefefe;
    font-weight: bold;
}
/*Humburger icon display for mobile ends here*/
#humburger-icon{

    display: none;
    cursor: pointer;
}
#humburger-icon div{
    width: 25px;
    height: 3px;
    background-color:#192a56 ;
    margin: 6px 0;
    transition: 0.4s;
}
.mobile-menu{
    background-color: white;
    margin-top: 20px;
}
.mobile-menu li{
    margin-top: 50px;
    list-style: none;
    
}
.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px );
    transform: rotate(-45deg) translate(-6px, 6px);

}
.open .bar2{
    opacity: 0;
}
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px );
    transform: rotate(45deg) translate(-6px, -8px);

}
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.mobile-menu{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}
.mobile-menu a{
    color: #192a56;
    text-decoration: none;
    font-weight: bold;
}
.open .mobile-menu .color{
    color:#fefefe;
}
@media(max-width: 900px){
    .mission-container{
        flex-direction: column;
        
    }
    .nav-menu{
        display: none;
    }
    .mission{
        text-align: center;
      
    }
    .donate{
        
    }
    #humburger-icon{
        display: block;
        z-index: 2000;
        
    }}
/*Humburger icon display for mobile ends here*/

.details{
    padding-top: 200px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px );
    transform: rotate(-45deg) translate(-6px, 6px);

}
.open .bar2{
    opacity: 0;
}
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px );
    transform: rotate(45deg) translate(-6px, -8px);
   

}
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.mobile-menu{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}
@media (max-width) {
    
}

/*DONATION PAGE*/
/*THE HOME PAGE OF DONATE STARTS */
.donate{

 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 100vh;
 margin: 0;
 color: #192a56;
}
button{
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}
.donation{
    background-color: #f3f4f6;
    border-radius: 20px;
    padding: 40px 60px;
    box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.3);
    position: relative;
    
}
.donation h2{
    letter-spacing: 3px;
    text-transform: uppercase;
}
.donation::before{
    background-color: #343f71;
    content: '';
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 220px;
    height: 220px;
    border-radius: 30px;
    z-index: -1;
    
}
.donation::before{
    background-color: #2D5C7F;
    content: '';
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 220px;
    height: 220px;
    border-radius: 30px;
    z-index: -1;

}
.donation img{
    width: 109px;
    margin-top: -69px;
    display: block;
    margin-bottom: 20px;
}
.donation h2{
    margin: 0;
}
.donation p{
    line-height: 24px;
    margin-bottom: 16px;
}
.bank{
    background-color: #820000;
    padding: 5px 13px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 2px;
}
.mobile-money{
    background-color: #c29591;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
}
.mtn{
    background-color: #ffcc00;
}
.airtel{
    background-color: #DC0000;
}
@media (max-width:780px) {
.donation img{
    width: 97px;
}


}
@media (max-width:380px) {
    .donation{
    background-color: #f3f4f6;
    border-radius: 20px;
    padding: 40px 60px;
    box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.3);
    position: relative;
    margin-top: 80px;
    
}
.donation::before{
    background-color: #343f71;
    content: '';
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 220px;
    height: 220px;
    border-radius: 30px;
    z-index: -1;

}
.donation::before{
    background-color: #2D5C7F;
    content: '';
    position: absolute;
    bottom: -30px;
    right: -20px;
    width: 200px;
    height: 220px;
    border-radius: 30px;
    z-index: -1;

}
.donation img{
    width: 109px;
    margin-top: -69px;
    display: block;
    margin-bottom: 20px;
}
.donation h2{
    margin: 0;
}
.donation p{
    line-height: 24px;
    margin-bottom: 16px;
}
.bank{
    background-color: #820000;
    padding: 5px 13px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 2px;
}
.mobile-money{
    background-color: #c29591;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
}
.mtn{
    background-color: #ffcc00;
}
.airtel{
    background-color: #DC0000;
}
}

@media (max-width:350px) {
    .donation{
    background-color: #f3f4f6;
    border-radius: 20px;
    padding: 40px 60px;
    box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.3);
    position: relative;
    margin-top: 80px;
    
}
.donation::before{
    background-color: #343f71;
    content: '';
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 220px;
    height: 220px;
    border-radius: 30px;
    z-index: -1;

}
.donation::before{
    background-color: #2D5C7F;
    content: '';
    display: none;
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 190px;
    height: 220px;
    border-radius: 30px;
    z-index: -1;

}
.donation img{
    width: 109px;
    margin-top: -69px;
    display: block;
    margin-bottom: 20px;
}
.donation h2{
    margin: 0;
}
.donation p{
    line-height: 24px;
    margin-bottom: 16px;
}
.bank{
    background-color: #820000;
    padding: 5px 13px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 2px;
}
.mobile-money{
    background-color: #c29591;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
}
.mtn{
    background-color: #ffcc00;
}
.airtel{
    background-color: #DC0000;
}
}


/*Donation pop up*/
.popup{
    width: 389px;
    height: 400px;
    background-color: aliceblue;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.0);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: white;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
@media (max-width:470px) {
    
}
/*DONATION PAGE*/
